<ion-content>
    <div class="col-12 " style="display:grid; justify-content: center; z-index: -100;"> 
        <div id="Ellipse-220"></div>
        <div id="Ellipse-1431"></div>
        <div id="Ellipse-1433"></div>
        <div id="Ellipse-239"></div>
        <div id="Ellipse-237"></div>
    </div>
    <!--img src="assets/icon/generales/Vector(2).svg" alt="" srcset="" style="width: 13px; height: auto;margin-left: 9px;position: absolute;top: 28px;left: 18px;"-->

    <div class="col-12" style="display: flex; justify-content: center; margin-top: 17%;" >
        <img src="assets/icon/generales/netflix.svg" alt="" srcset="" style="width: 77px; height: auto;">
    </div>
    <div class="col-12" style="display: grid; justify-content: center; margin-top: 10px;">
        <ion-card-title class="subtitulo">Netflix</ion-card-title>
        <ion-card-title class="subtitulo" style="font-size: 12px; font-weight: 400;color: #D0C7C7;font-style: revert;">“See what's next” (Mira lo que viene)</ion-card-title>
        <br>
        <ion-card-title class="subtitulo" style="font-size: 12px; font-weight: 400;color: #D0C7C7;font-style: revert; display: flex;">Para ver mas detalles <div style="color: #FE53BB; margin-left: 3px;"> presiona aquí.</div></ion-card-title>
    </div>
<br><br>


    <div class="row">
        <div class="col" style="display: grid; justify-content: center; margin-top: 10px;">
            <div class="col" style="  margin-top: 10px; width: 110px; margin-bottom: 6px;">
                <ion-card-title class="subtitulo" style="font-size: 16px; font-weight: 1000;">Pantallas</ion-card-title>
            </div>
        </div>
    
        <div class="col-12" style="justify-content: center; display: flex;">
            <ion-item style="border-radius: 30px; width: calc((100% / 1) - 124px);">
                <ion-select [value]="['Elegir Plan']" style="justify-content: center;" cancelText="Cancelar" okText="Listo">
                    <ion-select-option value="Elegir Plan">Elegir Plan</ion-select-option>
                  <ion-select-option value="01">Blonde</ion-select-option>
                  <ion-select-option value="black">Black</ion-select-option>
                  <ion-select-option value="02">Red</ion-select-option>
                </ion-select>
              </ion-item>
        </div>
    </div>

    <div class="col" style="display: grid; justify-content: center; margin-top: 10px;">
        <div class="col" style=" width: 110px; margin-bottom: 6px;">
            <img src="assets/icon/generales/Group.svg" alt="" class="imgSecundaria" style="margin-top: 10%;" >
        </div>
    </div>
    <br>
    <br>
    <div class="col-12" style="display: grid; justify-content: center;">
        <a href="" class="btnSel" routerLink="/metodo-pago" > <svg width="190" height="62" >
            <defs>
              <linearGradient id="gradsl">
                <stop offset="0%" stop-color="#FE53BB" />
                <stop offset="100%" stop-color="#09FBD3" />
              </linearGradient>
            </defs>
            <rect x="5" y="5" rx="25" fill="none" stroke="url(#gradsl)" width="180" height="40"></rect>
          </svg> <span>Continuar</span> </a>
    </div>

   


</ion-content>
