<ion-content id="page-01">
  <div class="col-12 d-flex p-3" style="display: grid; justify-content: space-between;">
    <img src="" alt="" width="25px" style="visibility: hidden;" >
    <img src="assets/Page-inicio/Group-3608.png" style="z-index: 1000; margin-top: 8%; max-width: 58%;" id="" alt=""  >
    <img src="" alt="" width="25px" style="visibility: hidden;">
  </div>
  <div class="col-12 " style="display:grid; justify-content: center;">
    <div id="Ellipse-220"></div>
    <div id="Ellipse-222"></div>
    <div id="Ellipse-1431"></div>
    <div id="Ellipse-1433"></div>
  </div>
    <div class="col-12 text-center" style="display: grid; justify-content: center;">
      <div class="col-2" style="display: contents;">
        <ion-card-title class="titulo" > Crear </ion-card-title>
      </div>
    </div>
  
    <div class="col-12 text-center" style="display: grid; justify-content: center;">
      <div class="col-2" style="display: contents;">
        <ion-card-title class="subtitulo"> Por favor crea tu cuenta para continuar</ion-card-title>
      </div>
    </div>
  
    <div class="text-center" style="display: flex; justify-content: center;">
      <div class="inputRectangulo">
        <ion-input class="" value="" placeholder="Usuario" style="width: 90%;">
          <ion-icon name="person-circle-outline" item-start class="" style="margin-left: 15px; width: 25.1px; height: 25px; color: #e6e0e0e5;margin-top: 3px;"></ion-icon>
        </ion-input> 
      </div>
    </div>
    <div class="text-center" style="display: flex; justify-content: center;">
      <div class="inputRectangulo">
        <ion-input type="password" id="contraseña" class="" value="" placeholder="Contraseña"  style="width: 90%;">
          <ion-icon name="lock-closed-outline" style="margin-left: 19px;width: 21.1px;height: 19px;color: #e6e0e0e5; font-weight: bold;"></ion-icon>
        </ion-input>
        <ion-icon name="eye-outline" id="passshow"(click)="showpassword()" style="cursor: pointer; top: -65%; position: relative; left: 40%; width: 25px; height: 25px; z-index: 1000;"></ion-icon>
        <ion-icon name="eye-off-outline" id="passhide" (click)="hidepassword()" style="display:none; cursor: pointer; top: -65%; position: relative; left: 40%; width: 25px; height: 25px; z-index: 1000;"></ion-icon>
      </div>
    </div>

    <br>
    <div class="text-center" style="display: flex; justify-content: center;">
      <div class="inputRectangulo">
        <ion-input type="text" id="Nombre" class="" value="" placeholder="Nombre"  style="width: 90%;">
          <ion-icon name="person-outline" style="margin-left: 19px;width: 21.1px;height: 19px;color: #e6e0e0e5; font-weight: bold;"></ion-icon>
        </ion-input>
      </div>
    </div>
    <div class="text-center" style="display: flex; justify-content: center;">
      <div class="inputRectangulo">
        <ion-input type="text" id="Apellidos" class="" value="" placeholder="Apellidos"  style="width: 90%;">
          <ion-icon name="person-add-outline" style="margin-left: 19px;width: 21.1px;height: 19px;color: #e6e0e0e5; font-weight: bold;"></ion-icon>
        </ion-input>
      </div>
    </div>
    <div class="text-center" style="display: flex; justify-content: center;">
      <div class="inputRectangulo">
        <ion-input type="text" id="Correo" class="" value="" placeholder="Correo"  style="width: 90%;">
          <ion-icon name="mail-outline" style="margin-left: 19px;width: 21.1px;height: 19px;color: #e6e0e0e5; font-weight: bold;"></ion-icon>
        </ion-input>
      </div>
    </div>

    <div class="col-12 text-center" style="display: grid; justify-content: center; margin-top: 55px;" routerLink="/home"> 
      <div id="Rectangle-53"></div>
      <a href="/home" class="btn-celc"> <svg width="190" height="62">
        <defs>
          <linearGradient id="gradcc">
            <stop offset="0%" stop-color="#FE53BB" />
            <stop offset="100%" stop-color="#09FBD3" />
          </linearGradient>
        </defs>
        <rect x="5" y="5" rx="25" fill="none" stroke="url(#gradcc)" width="180" height="40"></rect>
      </svg> <span style="margin-top: 4px;display: grid;" >Iniciar Sesión</span> </a>
    </div>

    <div class="col-12 text-center" style="display: flex; justify-content: center; margin-top: 12px;">
      <div class="col-2" style="display: contents;">
        <ion-card-title class="subtitulo" style=" display: flex; font-size: 13.5px;"> ¿Ya tienes cuenta? <div style="color: #FE53BB; cursor: pointer;" routerLink="/login">&nbsp;Inicia Sesión&nbsp;</div> ahora.</ion-card-title>
      </div>
    </div>
</ion-content>