#page-01{
    position: absolute;
    
    
    background: #18191B;
    box-shadow: 20.9709px 20.9709px 41.9417px rgba(0, 0, 0, 0.25);
    border-radius: 52.4272px;
    
    }
    #Background-01 {
    position: absolute;
    width: 480.23px;
    height: 710.91px;
    left: -5.24px;
    top: 34.6px;
    
    opacity: 0.6;
    }
    
    #Ellipse-220{
    position: absolute;
    width: 50%;
    height: 209.71px;
    left: 50%;
    top: 266.33px;
    
    background: #08F7FEE6;
    filter: blur(209.709px);
    }
    
    #Ellipse-221{
    position: absolute;
    visibility: hidden;
    width: 334.49px;
    height: 334.49px;
    left: -190.83px;
    top: 767.53px;
    background: #08F7FE;
    }
    
    #Ellipse-222{
    position: absolute;
    width: 50%;
    height: 174.06px;
    left: 0%;
    top: 34.6px;
    
    background: #FE53BBD6;
    filter: blur(209.709px);
    }
    
    #Ellipse-1431{
    position: absolute;
    visibility: hidden;
    width: 101.71px;
    height: 55.57px;
    left: 109.05px;
    top: 696.23px;
    
    background: rgba(254, 83, 187, 0.5);
    }
    
    #Ellipse-1433{
    position: absolute;
    visibility: hidden;
    width: 98.56px;
    height: 42.99px;
    left: 198.17px;
    top: 703.57px;
    background: rgba(9, 251, 211, 0.5);
    }
    
    #Rectangle-53 {
    width: 191.77px;
    height: 39.84px;
    margin-top: 4px;
    background: linear-gradient(90.5deg, #FE53BB 0.43%, #09FBD3 99.64%);
    filter: blur(30.9126px);
    border-radius: 20.9709px;
    
    }
    
    .titulo{
        /* HAS DE TU DIA UN MOEMNTO DIVERTIDO */
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 1000;
        font-size: 20.6505px;
        line-height: 43px;
        text-align: center;
        letter-spacing: 0.392155px;
        color: rgba(255, 255, 255, 0.97);
    
    }
    
    .subtitulo{
        /* El entretenimiento al alcance de tus manos */
    
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.7767px;
    line-height: 22px;
    /* or 131% */
    text-align: center;
    letter-spacing: -0.335534px;
    
    color: rgba(255, 255, 255, 0.75);
    
    
    }
    
    
    
    
    
    .btn-celc {
        margin-top: -45px;
        position: relative;
        display: inline-block;
        width: 190px;
        height: 50px;
        line-height: 40px;
        text-align: center;
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        font-family: "Open Sans";
        font-weight: 900;
        font-size: 17px;
        letter-spacing: .045em;
     
    }
    
    .btn-celc svg {
        position: absolute;
        top: 0;
        left: 0
    }
    
    .btn-celc svg rect {
        stroke:linear-gradient(90.5deg, #FE53BB 0.43%, #09FBD3 99.64%);;
        stroke-width: 4;
        stroke-dasharray: 353, 0;
        stroke-dashoffset: 0;
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease
    }
    
    .btn-celc span {
       color: white;
    }
    
    .btn-celc:hover svg rect {
        stroke-width: 4;
        stroke-dasharray: 108, 543;
        stroke-dashoffset: 437
    }
    
    
    
    /* Ellipse 214 */
    .circulito214{
        background: #74F7D5;
    
        width: 10px;
        height: 10px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    
    .inputRectangulo input{
        text-align: initial !important;
        margin-left: 6px;
    }

@media screen and (max-width: 980px){
    .inputRectangulo{
        width: 400px;
        height: 48.44px;
        background: rgba(196, 196, 196, 0.35);
        border-radius: 30px;
        margin-bottom: 10px;
        
    }   
}

@media screen and (max-width: 780px){
    .inputRectangulo{
        width: 300px;
        height: 48.44px;
        background: rgba(196, 196, 196, 0.35);
        border-radius: 30px;
        margin-bottom: 10px;
    }   
}

@media screen and (min-width: 981px){
    .inputRectangulo{
        width: 500px;
        height: 48.44px;
        background: rgba(196, 196, 196, 0.35);
        border-radius: 30px;
        margin-bottom: 10px;
    }   
}
