<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>
<style>
  ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }
</style>


<ion-content id="page-01">
  <div class="col-12 d-flex p-3" style="display: grid; justify-content: space-between;">
    <img src="" alt="" width="25px" style="visibility: hidden;" >
    <img src="assets/Page-inicio/Group-3608.png" style="z-index: 1000; margin-top: 8%; max-width:90%;" id="" alt="" >
    <img src="" alt="" width="25px" style="visibility: hidden;">
  </div>
  <div class="col-12 " style="display:grid; justify-content: center;">
    <div id="Ellipse-220"></div>
    <div id="Ellipse-222"></div>
    <div id="Ellipse-1431"></div>
    <div id="Ellipse-1433"></div>
  </div>
  <ion-slides style="height: auto;">
    <ion-slide>
      <div class="slide">
        <div>
          <div class="col-12 text-center" style="display: grid; justify-content: center;">
            <div class="col-2" style="display: contents;">
              <ion-card-title class="titulo"> HAS DE TU </ion-card-title>
              <ion-card-title class="titulo"> DIA UN MOMENTO</ion-card-title>
              <ion-card-title class="titulo"> DIVERTIDO</ion-card-title>
            </div>
          </div>
        
          <br>
          <div class="col-12 text-center" style="display: grid; justify-content: center;">
            <div class="col-2" style="display: contents;">
              <ion-card-title class="subtitulo"> El entretenimiento al alcance</ion-card-title>
              <ion-card-title class="subtitulo"> de tus manos</ion-card-title>
            </div>
          </div>
        
          <div class="col-12 text-center" style="display: grid; justify-content: center; margin-top: 7%;">
            <div id="Rectangle-53"></div>
            <a  routerLink="/login" href="" class="btnSvg"> <svg width="190" height="62">
              <defs>
                <linearGradient id="grad1">
                  <stop offset="0%" stop-color="#FE53BB" />
                  <stop offset="100%" stop-color="#09FBD3" />
                </linearGradient>
              </defs>
              <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="180" height="40"></rect>
            </svg> <span>Iniciar Sesión</span> </a>
          </div>
        </div>
        <div class="col-12 d-flex" style="display: grid; justify-content: center; margin-top: 10%;">
            <div class="circulito214"></div>
            <div style="width: 10px;"></div>
            <div class="circulito214" style="background: rgba(255, 255, 255, 0.38);"></div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <div class="col-12 text-center" style="display: grid; justify-content: center;">
          <div class="col-2" style="display: contents;">
            <ion-card-title class="titulo"> HAS DE TU </ion-card-title>
            <ion-card-title class="titulo"> DIA UN MOMENTO</ion-card-title>
            <ion-card-title class="titulo"> DIVERTIDO</ion-card-title>
          </div>
        </div>
        <br>
        <div class="col-12 text-center" style="display: grid; justify-content: center;">
          <div class="col-2" style="display: contents;">
            <ion-card-title class="subtitulo"> El entretenimiento al alcance</ion-card-title>
            <ion-card-title class="subtitulo"> de tus manos</ion-card-title>
          </div>
        </div>
      
        <div class="col-12 text-center" style="display: grid; justify-content: center; margin-top: 55px;">
          <div id="Rectangle-53"></div>
          <a  routerLink="/crear-cuenta" href="" class="btnSvg"> <svg width="190" height="62">
            <defs>
              <linearGradient id="grad1">
                <stop offset="0%" stop-color="#FE53BB" />
                <stop offset="100%" stop-color="#09FBD3" />
              </linearGradient>
            </defs>
            <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="180" height="40"></rect>
          </svg> <span>Crear Cuenta</span> </a>
        </div>
      </div>
      
      <div class="col-12 d-flex" style="display: grid; justify-content: center;  margin-top: 10%;">
          <div class="circulito214" style="background: rgba(255, 255, 255, 0.38);"></div>
          <div style="width: 10px;"></div>
          <div class="circulito214" ></div>
      </div>
      
    </ion-slide>
  </ion-slides>
</ion-content>