<ion-content id="page-01">
  <div class="col-12 d-flex p-3" style="display: grid; justify-content: space-between;">
    <img src="" alt="" width="25px" style="visibility: hidden;" >
    <img src="assets/Page-inicio/Group-3608.png" style="z-index: 1000; margin-top: 8%; max-width: 58%;" id="" alt=""  >
    <img src="" alt="" width="25px" style="visibility: hidden;">
  </div>
  <div class="col-12 " style="display:grid; justify-content: center;">
    <div id="Ellipse-220"></div>
    <div id="Ellipse-222"></div>
    <div id="Ellipse-1431"></div>
    <div id="Ellipse-1433"></div>
  </div>

  <br>
    <div class="col-12 text-center" style="display: grid; justify-content: center;">
      <div class="col-2" style="display: contents;">
        <ion-card-title class="titulo" > Iniciar </ion-card-title>
      </div>
    </div>
  
    <div class="col-12 text-center" style="display: grid; justify-content: center;">
      <div class="col-2" style="display: contents;">
        <ion-card-title class="subtitulo"> Por favor inicia sesión para continuar</ion-card-title>
      </div>
    </div>
  
    <br >
    <div class="text-center" style="display: flex; justify-content: center;">
      <div class="inputRectangulo">
        <ion-input class="" value="" placeholder="Usuario" style="width: 90%;">
          <ion-icon name="person" item-start class="" style="margin-left: 19px;width: 21.1px;height: 19px;color: #e6e0e0e5;"></ion-icon>
        </ion-input>
      </div>
    </div>

    <div class="text-center" style="display: flex; justify-content: center;">
      <div class="inputRectangulo">
        <ion-input type="password" id="contraseña" class="" value="" placeholder="Contraseña"  style="width: 90%;">
          <ion-icon name="lock-closed-outline" style="margin-left: 19px;width: 21.1px;height: 19px;color: #e6e0e0e5; font-weight: bold;"></ion-icon>
        </ion-input>
        <ion-icon name="eye-outline" id="passshow"(click)="showpassword()" style="cursor: pointer; top: -65%; position: relative; left: 40%; width: 25px; height: 25px; z-index: 1000;"></ion-icon>
        <ion-icon name="eye-off-outline" id="passhide" (click)="hidepassword()" style="display:none; cursor: pointer; top: -65%; position: relative; left: 40%; width: 25px; height: 25px; z-index: 1000;"></ion-icon>
      </div>
    </div>

    <div class="col-12 text-center" style="display: grid; justify-content: center; margin-top: 5px;">
      <div class="col-2" style="display: contents;">
        <ion-card-title class="subtitulo" style="font-size: 12.5px;"> ¿Olvidaste tu contraseña?</ion-card-title>
      </div>
    </div>

    <div class="col-12 text-center" style="display: grid; justify-content: center; margin-top: 55px;" (click)="goToPaginaIniciarSesion()" > 
      <div id="Rectangle-53"></div>
      <a  class="btn-celc"> <svg width="190" height="62">
        <defs>
          <linearGradient id="grad2">
            <stop offset="0%" stop-color="#FE53BB" />
            <stop offset="100%" stop-color="#09FBD3" />
          </linearGradient>
        </defs>
        <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad2)" width="180" height="40"></rect>
      </svg> <span style="margin-top: 4px;display: grid;" >Iniciar Sesión</span> </a>
    </div>

    <div class="col-12 text-center" style="display: flex; justify-content: center; margin-top: 12px;">
      <div class="col-2" style="display: contents;">
        <ion-card-title class="subtitulo" style=" display: flex; font-size: 12.5px;"> ¿No tiene cuenta? <div style="color: #FE53BB; cursor: pointer;" routerLink="/crear-cuenta">&nbsp;Crea una cuenta&nbsp;</div> primero.</ion-card-title>
      </div>
      
    </div>
</ion-content>