
<ion-app style="  border-radius: 0px 0px 10px 10px;">

 

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" style="border-top-right-radius: 10%;">
      <div class="Auto-layout" >
    
        <ion-buttons slot="end" style="cursor: pointer; position:absolute">
          <ion-menu-button >
                    <img src="assets/icon/generales/Close.svg" alt="" class="closebtn" width="15px" height="15px" style="cursor: pointer;">
          </ion-menu-button>
        </ion-buttons>
      </div>

      


      <br>
      <ion-content>
        <ion-list id="inbox-list" style="background: rgb(24, 21, 21);">
          <div class="col-12" style="justify-content: center; width: 100%; display: grid;">
              <img src="assets/icon/perfil/yo.jpg" alt="" class="redondear-img-avatar-menulateral" width="15px" height="15px" style="cursor: pointer;">
          </div>
          <div class="col-12"  style="justify-content: center; width: 100%; display: grid;">
            <ion-list-header style="font-size: 100%;">Carlos Eduardo Landa Castrejon</ion-list-header>
           </div>

           <div class="col-12"  style="justify-content: center; width: 100%; display: grid;">
            <ion-note class="text-color-lateral" style="font-size: 90%;">charlo.com1@gmail.com</ion-note>
           </div>
          

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item class="text-color-lateral" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!--ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list-->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
