<div class="col-12 d-flex p-3" id="headderPerson" style="display: grid; justify-content: center; z-index: 1000; position: relative; background: #111215;;
--ion-background-color: #111215;;">
  <div class="row" style="justify-content: space-between; width: 1000%;">
    <div class="col"><img src="assets/icon/perfil/yo.jpg" alt="" class="redondear-img-avatar" width="15px" height="15px" style="cursor: pointer;"></div>
    <div class="col">
      <ion-card-title class="titulo-home">Hola</ion-card-title>
      <ion-card-title class="subtitulo-home"> Carlos Landa </ion-card-title>
    </div>
    <div class="col" slot="start" style="justify-content: end;display: grid;">
      <div class="col-12 d-flex" style="display: grid; justify-content: space-between;">
        <ion-buttons slot="start" style="cursor: pointer;">
          <ion-menu-button >
                    <img src="assets/icon/generales/Vector(1).svg" alt="" class="" width="28px" height="28px" style="cursor: pointer;">
          </ion-menu-button>
        </ion-buttons>
      </div>
      <!--img src="assets/icon/generales/Vector(1).svg" alt="" class="" width="28px" height="28px" style="cursor: pointer; margin-top: 50%;"-->
    </div>
  </div>
</div>


<ion-content id="page-01-home">
  <div class="col-12 " style="display:grid; justify-content: center; z-index: -100;"> 
    <div id="Ellipse-220"></div>
    <div id="Ellipse-1431"></div>
    <div id="Ellipse-1433"></div>
    <div id="Ellipse-239"></div>

  </div>
    <br>
  <div class="col-12 text-center" style="display: grid; justify-content: center;">
    <div class="col-2" style="display: contents;">
      <ion-card-title class="titulo-home" style="font-weight: 700; font-size: 27px; line-height: 30px;" > ¿Cúal entretenimiento buscas? </ion-card-title>
      <br>    
    </div>
  </div>

  <div class="text-center" style="display: flex; justify-content: center;">
    <div class="inputRectangulo">
      <ion-input type="text" id="buscar" class="" value="" placeholder="Buscar"  style="width: 90%;">
        <ion-icon name="search-outline" style="margin-left: 19px;width: 21.1px;height: 19px;color: #e6e0e0e5; font-weight: bold;"></ion-icon>
      </ion-input>
      <ion-icon name="mic-outline"  style="cursor: pointer; top: -65%; position: relative; left: 40%; width: 25px; height: 25px; z-index: 1000;"></ion-icon>
    </div>
  </div>
  <br>

  <div class="text-center" style="display: flex; justify-content: center;">
    <div class="inputRectangulo" style="background: #57575900; text-align: initial; height: auto;display: flex;justify-content: space-between;">
      <ion-card-title class="" style="margin-left:5px; font-weight: bold;" >Populares</ion-card-title>
      <ion-card-title class="" style="margin-left:5px; font-weight: bold; cursor:pointer; color: #FE53BB; font-size: 17px;" >Ver todo</ion-card-title>

    </div>
  </div>

  <div class="col-12 d-flex p-1" style="display: grid; justify-content: center; z-index: 1000; position: relative; margin-top: -5px;">
    <div class="row" style="justify-content: space-between; width: 90%; justify-content: center;">
      <div class="horizontal-scroll-contenedor">

        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"  routerLink="/seleccion"> 
          <img src="assets/icon/generales/netflix.svg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
        &nbsp; &nbsp; 
        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/netflix.svg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
        &nbsp; &nbsp; 
        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/netflix.svg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
        &nbsp; &nbsp; 
        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/netflix.svg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
        &nbsp; &nbsp; 
        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/netflix.svg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
    
      </div>
    </div>
  </div>


<br>
  <div class="text-center" style="display: flex; justify-content: center;">
    <div class="inputRectangulo" style="background: #57575900; text-align: initial; height: auto;display: flex;justify-content: space-between;">
      <ion-card-title class="" style="margin-left:5px; font-weight: bold;" >Proximamente</ion-card-title>
      <ion-card-title class="" style="margin-left:5px; font-weight: bold; cursor:pointer; color: #FE53BB; font-size: 17px;" >Ver todo</ion-card-title>
    </div>
  </div>

  <div class="col-12 d-flex p-1" style="display: grid; justify-content: center; z-index: 1000; position: relative; margin-top: -5px;">
    <div class="row" style="justify-content: space-between; width: 90%; justify-content: center;">
      <div class="horizontal-scroll-contenedor">

        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/hbo.jpg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
        &nbsp; &nbsp; 
        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/hbo.jpg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
        &nbsp; &nbsp; 
        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/hbo.jpg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
        &nbsp; &nbsp; 
        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/hbo.jpg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
        &nbsp; &nbsp; 
        <div class="horizontal-scroll-contenedor-div circuloContenedorIcon"> 
          <img src="assets/icon/generales/hbo.jpg" alt="" class="imgIconContenedor" style="cursor: pointer;">
          <div class="sombraicono"></div>
        </div>
    
      </div>
    </div>
  </div>
  

</ion-content>