#page-01-home{
    position: relative;   
    background: #18191B;
    box-shadow: 20.9709px 20.9709px 41.9417px rgba(0, 0, 0, 0.25);
    border-radius: 52.4272px;
    --ion-background-color: #121212;
    
    }
    #Background-01 {
    position: absolute;
    width: 480.23px;
    height: 710.91px;
    left: -5.24px;
    top: 34.6px;
    
    opacity: 0.6;
    }
    
    #Ellipse-220{
    position: absolute;
    width: 50%;
    height: 209.71px;
    left: 50%;
    top: 266.33px;
    z-index: -1;
    
    background: #fe53ba6b;
    filter: blur(209.709px);
    }
    
    
    #Ellipse-221{
    position: absolute;
    visibility: hidden;
    width: 334.49px;
    height: 334.49px;
    left: -190.83px;
    top: 767.53px;
    background: #08F7FE;
    }
    
    #Ellipse-222{
    position: absolute;
    width: 50%;
    height: 174.06px;
    left: 0%;
    top: 34.6px;
    
    background: #FE53BB6B;
    filter: blur(209.709px);
    }
    
    #Ellipse-239{
    position: absolute;
    width: 174.06px;
    height: 163.18px;
    left: -68.16px;
    top: 726.64px;

    background: rgba(9, 251, 211, 0.5);
    filter: blur(181.311px);

    }
    
    #Ellipse-1433{
    position: absolute;
    visibility: hidden;
    width: 98.56px;
    height: 42.99px;
    left: 198.17px;
    top: 703.57px;
    background: rgba(9, 251, 211, 0.5);
    }
    
    #Rectangle-53 {
    width: 191.77px;
    height: 39.84px;
    margin-top: 4px;
    background: linear-gradient(90.5deg, #FE53BB 0.43%, #09FBD3 99.64%);
    filter: blur(30.9126px);
    border-radius: 20.9709px;
    
    }
    


    .titulo-home{
        /* HAS DE TU DIA UN MOEMNTO DIVERTIDO */
        font-family: "Rubik";
        font-style: normal;
        font-weight: 1000;
        font-size: 26.6505px;
        line-height: 43px;
        text-align: center;
        letter-spacing: 0.392155px;
        color: rgba(255, 255, 255, 0.97);
        

       /*
        letter-spacing: 0.392155px;
        color: rgba(255, 255, 255, 0.97);
        position: static;
        width: 67px;
        height: 36px;
        left: 0px;
        top: 0px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
       */
    
    }
    
    .subtitulo-home{    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.7767px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.335534px;
    color: rgba(255, 255, 255, 0.75);
    }


    
.redondear-img-avatar{
    height: 65px;
    width: 65px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-top: 0px;
    
}

.inputRectangulo input{
    text-align: initial !important;
    margin-left: 6px;
}

@media screen and (max-width: 980px){
    .inputRectangulo{
        width: 400px;
        height: 48.44px;
        background: #262628a1;
        border-radius: 30px;
        margin-bottom: 10px;
    }   
}

@media screen and (max-width: 780px){
    .inputRectangulo{
        width: 90%;
        height: 48.44px;
        background: #262628a1;
        border-radius: 30px;
        margin-bottom: 10px;
    }   
}

@media screen and (min-width: 981px){
    .inputRectangulo{
        width: 500px;
        height: 48.44px;
        background: #262628a1;
        border-radius: 30px;
        margin-bottom: 12px;
    }   
}

.horizontal-scroll-contenedor{
    width: auto;
    height: 175px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
    border-top-left-radius: 18%;
    border-bottom-left-radius: 18%;
    border-top-right-radius: 18%;
    border-bottom-right-radius: 18%;
}

.horizontal-scroll-contenedor-div{
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    color: #FFF;
    line-height: 50px;
}

.circuloContenedorIcon{
    position: static;
width: 130.33px;
height: 130.58px;
left: 22.05px;
top: 0px;
background: linear-gradient(180deg, #3A3A3A 0%, #0C0C0C 100%);
border-radius: 80px;
z-index: 1000;
margin-left: -2.5px;
    /*
    position: static;
    width: 158.33px;
    height: 158.58px;
    left: 22.05px;
    top: 0px;
    background: linear-gradient(180deg, #3A3A3A 0%, #0C0C0C 100%);
    border-radius: 80px;
    z-index: 1000;
    margin-left: -2.5px;*/

}

.sombraicono{
    position: relative;
width: 110.33px !important;
height: 32.33px !important;
left: 6px;
top: 7.92px;
background: radial-gradient(81.03% 81.03% at 50% 50%, #A29E9E80 0%, rgba(29, 29, 29, 0) 100%);
filter: blur(10px);
z-index: -1;
    /*
    position: relative;
    width: 158.33px !important;
    height: 27.33px !important;
    left: 0px;
    top: 19.92px;
    background: radial-gradient(81.03% 81.03% at 50% 50%, #A29E9E80 0%, rgba(29, 29, 29, 0) 100%);
    filter: blur(10px);
    z-index: -1;*/

}

.imgIconContenedor{
    cursor: pointer;
margin-top: 25px;
width: auto;
height: 81px;
    /*
    cursor: pointer;
    margin-top: 30px;
    width: auto;
    height: 93px;*/
}




  