

.btnMetoPago {
    position: relative;
    width: 190px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 17px;
    letter-spacing: .045em;
 
}

.btnMetoPago svg {
    position: absolute;
    top: 0;
    left: 0
}

.btnMetoPago svg rect {
    stroke:linear-gradient(90.5deg, #FE53BB 0.43%, #09FBD3 99.64%);;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease
}

.btnMetoPago span {
   color: white;
}

.btnMetoPago:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 108, 543;
    stroke-dashoffset: 437
}




.titulomp{
    /* HAS DE TU DIA UN MOEMNTO DIVERTIDO */
    font-family: "Rubik";
    font-style: normal;
    font-weight: 1000;
    font-size: 28.6505px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.392155px;
    color: rgba(255, 255, 255, 0.97);
    

   /*
    letter-spacing: 0.392155px;
    color: rgba(255, 255, 255, 0.97);
    position: static;
    width: 67px;
    height: 36px;
    left: 0px;
    top: 0px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
   */

}

.subtitulomp{    
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size:   20px;
line-height: 22px;
text-align: center;
letter-spacing: -0.335534px;
color: #FFF;

/* Netflix */
}
/*
@media screen and (max-width: 980px){
    .inputRectangulo{
        width: 400px;
        height: 48.44px;
        background: #262628a1;
        border-radius: 30px;
        margin-bottom: 10px;
    }   
}*/

    .inputRectanguloMP{
        width: 85%;
        height: 48.44px;
        background: #262628a1;
        border-radius: 30px;
        margin-bottom: 10px;
    }   

/*
@media screen and (min-width: 981px){
    .inputRectangulo{
        width: 500px;
        height: 48.44px;
        background: #262628a1;
        border-radius: 30px;
        margin-bottom: 12px;
    }   
}
*/
/* Rectangle 11 */
.cuadroCards{
    width: 315px;
    height: 233px;
    left: 55px;
    top: 414px;

    background: rgba(167, 156, 156, 0.22);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 26px;
}