<ion-content>
  <div class="col-12 " style="display:grid; justify-content: center; z-index: -100;"> 
      <div id="Ellipse-220"></div>
      <div id="Ellipse-1431"></div>
      <div id="Ellipse-1433"></div>
      <div id="Ellipse-239"></div>
      <div id="Ellipse-237"></div>
  </div>
  <!--img src="assets/icon/generales/Vector(2).svg" alt="" srcset="" style="width: 13px; height: auto;margin-left: 9px;position: absolute;top: 28px;left: 18px;"-->

  <div class="col-12" style="display: flex; justify-content: center; margin-top: 17%;" >
      <img src="assets/icon/generales/netflix.svg" alt="" srcset="" style="width: 77px; height: auto;">
  </div>
  <div class="col-12" style="display: grid; justify-content: center; margin-top: 10px;">
      <ion-card-title class="subtitulomp">Netflix</ion-card-title>
      <ion-card-title class="subtitulomp" style="font-size: 13px; font-weight: 400;color: #D0C7C7;font-style: revert;">“See what's next” (Mira lo que viene)</ion-card-title>
  </div>
  <br>
<br>
  <div class="text-center" style="display: flex; justify-content: center;">
    <div class="inputRectanguloMP" style="background: #57575900; text-align: initial; height: auto;display: flex;justify-content: space-between;">
      <ion-card-title class="" style="margin-left:5px; font-weight: bold; font-size: 16px;" >Hacer transferencia</ion-card-title>
      <ion-card-title class="" style="margin-left:5px; font-weight: bold; cursor:pointer; color: #FE53BB; font-size: 16px;" >Transferir</ion-card-title>
    </div>
  </div>
<br>

  <div class="col-12" style="display: grid; justify-content: center; ">
    <img src="assets/icon/generales/LineaDivision.svg" alt="" srcset="" style="width: 100%; height: 16px;">
  </div>
  <br>

  <div class="col-12 " style="justify-content: center; display: grid;">
    <div class="col">
          <div class="text-center" style="display: flex; justify-content: center;">
            <div class="inputRectanguloMP" style="background: #57575900; text-align: initial; height: auto;display: flex;justify-content: space-between; width: 100% ;">
              <ion-card-title class="" style="margin-left:5px; font-weight: bold; font-size: 16px;" >Metodo De Pago</ion-card-title>
              <ion-card-title class="" style="margin-left:5px; font-weight: bold; cursor:pointer; color: #FE53BB; font-size: 16px;" >Agregar</ion-card-title>
            </div>
          </div>
    </div>


    <div class="cuadroCards" id="CuadroCarsMP" #CuadroCarsMP>
        <div class="row p-3" style="display: grid;">
          <div class="col" style="display: flex; justify-content: start;">
            <img src="assets/icon/generales/CheckBox.svg" alt="" srcset="" style="width: 25px; height: 25px; margin-top: 10px;">
            <img src="assets/icon/generales/visa.svg" alt="" srcset="" style="width: 62px; height: 42px; margin-left: 5%;">
            <ion-card-title class="" style="margin-left:5px; font-weight: bold; cursor:pointer; color: #181517; font-size: 17px; margin-top: 10px; margin-left: 6%;" >**** **** **** 1234</ion-card-title>
          </div>
          <div class="col" style="height: 15px;"></div>
          <div class="col" style="display: flex; justify-content: start;">
            <img src="assets/icon/generales/CheckBoxFalse.svg" alt="" srcset="" style="width: 17px; height: 17px; margin-top: 10px;margin-left: 4.5px;">
            <img src="assets/icon/generales/master.svg" alt="" srcset="" style="width: 62px; height: 42px; margin-left: 7%;">
            <ion-card-title class="" style="margin-left:5px; font-weight: bold; cursor:pointer; color: #181517; font-size: 17px; margin-top: 10px; margin-left: 6%;" >**** **** **** 9237</ion-card-title>
          </div>
        </div>

    </div>

    <br>
    <br>
    <div class="col-12" id="btnMP" style="display: grid; justify-content: center; position: relative; top: 15px;">
        <a href="" class="btnMetoPago" routerLink="/metodo-pago" > <svg width="190" height="62" >
            <defs>
              <linearGradient id="gradslmp">
                <stop offset="0%" stop-color="#FE53BB" />
                <stop offset="100%" stop-color="#09FBD3" />
              </linearGradient>
            </defs>
            <rect x="5" y="5" rx="25" fill="none" stroke="url(#gradslmp)" width="180" height="40"></rect>
          </svg> <span>Continuar</span> </a>
    </div>


  </div>

  

 


</ion-content>
