/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "bootstrap/dist/css/bootstrap.min.css";


#Ellipse-220{
    position: absolute;
    width: 50%;
    height: 209.71px;
    left: 50%;
    top: 266.33px;
    z-index: -1;
    
    background: #fe53ba6b;
    filter: blur(209.709px);
    }
    
    
    #Ellipse-221{
    position: absolute;
    visibility: hidden;
    width: 334.49px;
    height: 334.49px;
    left: -190.83px;
    top: 767.53px;
    background: #08F7FE;
    }
    
    #Ellipse-222{
    position: absolute;
    width: 50%;
    height: 174.06px;
    left: 0%;
    top: 34.6px;
    
    background: #FE53BB6B;
    filter: blur(209.709px);
    }
    
    #Ellipse-239{
    position: absolute;
    width: 174.06px;
    height: 163.18px;
    left: -68.16px;
    top: 79%;
  
    background: rgba(9, 251, 211, 0.767);
    filter: blur(181.311px);
  
    }
  
    #Ellipse-237{
      position: absolute;
    width: 174.06px;
    height: 163.18px;
    left: -68.16px;
    top: 0px;
  
    background: rgba(9, 251, 211, 0.767);
    filter: blur(181.311px);
    }
    
    #Ellipse-1433{
    position: absolute;
    visibility: hidden;
    width: 98.56px;
    height: 42.99px;
    left: 198.17px;
    top: 703.57px;
    background: rgba(9, 251, 211, 0.5);
    }
    
    #Rectangle-53 {
    width: 191.77px;
    height: 39.84px;
    margin-top: 4px;
    background: linear-gradient(90.5deg, #FE53BB 0.43%, #09FBD3 99.64%);
    filter: blur(30.9126px);
    border-radius: 20.9709px;
    
    }
    